<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div ng-repeat="alert in alerts" collapse="alert.collapse">
			<alert type="{{alert.type}}" close="removeAlert(alert)"><span ng-bind-html="alert.content.text"></span></alert>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">		
		<voterrific-accordion close-others="oneAtATime" ng-repeat="row in rows">
			<voterrific-accordion-group is-open="row.isOpen" is-disabled="false" row="row"></voterrific-accordion-group>
		</voterrific-accordion>
	</div>
</div>
