/** For angular-bootstrap */
.pagination, .carousel, .panel-title a, .panel-heading.accordion-toggle { cursor: pointer; }

body {
	background: #ececec;
	color: #212121;
}

.navbar .conatiner {
	padding-left: 20px;
}

/** Square panels */
.panel-group .panel {
	border-radius: 0px;
	
}

/** Add margin when panel is open */
.panel-collape.in {
	margin-bottom: 7px;
}

/** Allow us to move heading to link to make ensure accordion heading click-able */
.panel .accordion-heading {
	padding: 0 !important;
	
	background: white;
	background-image: none;
	
	border-radius: 0px;
}

/** Don't want any text-decoration on the accordion heading */
.panel-title .accordion-toggle {
	text-decoration: none !important;
}

/** The row containing the home stuff */
.row.home-row {
	margin-top: 2%;
}
 
/** Logout button */
.logout {
	font-size: 16px;
}