/** For angular-bootstrap */
.pagination, .carousel, .panel-title a, .panel-heading.accordion-toggle { cursor: pointer; }

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	background: #ececec;
	color: #212121;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/** Inline helper class */
.inline {
	display: inline-block !important;
}

.navbar h2 {
	margin-left: 10px;
}

.navbar-default .navbar-collapse {
	  overflow-y: hidden;
}

.main-content {
	padding-bottom: 70px;
}

h2 a, h3 a {
	color: #333;
}

h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
	color: inherit;
	text-decoration: none;
}

.navbar .nav.navbar-nav {
	margin-left: 20px;
}

.address {
	margin-bottom: 6px;
}

/** Accordion */
.accordion,
.inner-accordion-init {
	width: 100%;
}

.accordion-group {
	display: block;
}

/** Reduce space between panels */
.accordion-group .panel-group {
	margin-bottom: 0px;
}

/** Square panels */
.accordion-group .panel {
	border-radius: 0px;
}

/** Add margin when group is open */
.accordion-group.group-open {
	margin-bottom: 7px;
	margin-top: 7px;
}

/** No top space for first child */
.accordion-group.group-open:first-child {
	margin-top: 0px;
}

/** Allow us to move heading to link to make ensure accordion heading click-able */
.accordion-group .accordion-heading {
	padding: 0 !important;
	
	background: white;
	background-image: none;
	
	border-radius: 0px;
}

/** Don't want blue header */
.accordion-heading a {
	text-decoration: none;
	color: #333;
}

.accordion-heading a:hover {
	text-decoration: none;
}

.accordion-title {
	padding: 2px 0px;
}

/** Logout button */
.logout {
	font-size: 16px;
}

.rep-body, .rep-header, 
.funds-header, .funds-body {
	display: -webkit-flex;
	display: flex;

	margin-bottom: 5px;
}

.rep-header .img {
	background-size: cover;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	overflow: hidden;

	display: inline-block;
	margin-left: 10px;
  	margin-top: 14px;
}

.rep-header small.title {
	margin: 0px 12px;
	font-style: italic;
}

.rep-body .title, .rep-header .title,
.funds-header .title {
	margin-left: 10px;
	margin-top: 8px;

	overflow: hidden;
	white-space: nowrap;
}

.rep-body small.title, .rep-header .party {
	color: #555;
	font-size: 75%;	
	display: inline-block;
}

.rep-body small.title {
	margin: 0px 14px;
}
.rep-body .contact {
	margin-left: 10px;
}

.funds-header .title {
	margin-top: 4px;
}

.funds-body tr td:first-child {
	text-align: right;
}

.currency {
	padding-left: 5px;
	color: #494949;
}