<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<base href="/">
	
	<title>MEAN Practice</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<% for (var key in cssResources) { %><link rel="stylesheet" type="text/css" href="<%= cssResources[key] %>" /><% } %>
	
	<% for (var key in jsResources) { %><script src="<%= jsResources[key] %>"></script><% } %>
	
</head>
<body data-ng-app="app">
	<!--Embedding The User Object-->
	<script type="text/javascript">
		<% if (user) { %>
		var user = <%- JSON.stringify(user) %>;
		<% } %>
	</script>

	<% include ./views/navbar.html %>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div class="container-fluid" ng-view>
	</div>
	
	<!--[if lt IE 9]>
	<section class="browsehappy jumbotron hide">
		<h1>Hello there!</h1>
		<p>You are using an old browser which we unfortunately do not support.</p>
		<p>Please <a href="http://browsehappy.com/">click here</a> to update your browser before using the website.</p>
		<p><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">Yes, upgrade my browser!</a></p>
	</section>
	<![endif]-->
</body>
</html>