<div>
	<div class="rep-body">
		<img src="{{ content.photo_url || '/img/blank-profile.jpg' }}" alt="Photo" height="64">
		<div class="title-container">
			<div class="title">
				{{ content.name }}
				<small class="party">({{ content.party }})</small>
			</div>
			<small class="title">
				Term {{ content.term }}
			</small>
		</div>
	</div>
	<div class="rep-body">
		<div class="contact">
			<small>
				<span ng-if="content.contact_url"><a href="{{ content.contact_url }}" target="_blank">Contact</a>&nbsp;/</span>
				{{ content.phone }}
			</small>
		</div>
	</div>
	<div class="rep-body">
		<span ng-if="content.contributors" ng-init="funds = { type: 'Funds', content: content.contributors }" class="inner-accordion-init">
			<voterrific-accordion close-others="oneAtATime" class="accordion">
				<voterrific-accordion-group is-open="funds.isOpen" row="funds" class="accordion-group">
				</voterrific-accordion-group>
			</voterrific-accordion>
		</span>
	</div>
</div>